body{
    background-image: url("../imgs/books2_bg.png");
    background-position: center;
    background-size:cover;
    background-color: rgba(250, 234, 177,0.8);
    background-blend-mode:lighten;
    font-family: monospace;
}

input {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    width: 70%;
    box-sizing: border-box;
    border-radius: 15px;
}

header {
  background-color: #C58940;
  color: #FAF8F1;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;  
  width: 100%;
  margin: auto;
  border-radius: 8px;
}

header h1{
    color: #FAF8F1;
    text-align: center;
}

header img {
  width: 70px;
  height: auto;
}

h2{
    text-align: center;
    color: #724917;
    padding: auto;
    font-size: 1.9rem;
}



/*************NAV************/

nav {
  background-color: #E5BA73;
  padding: 10px;
  border-radius: 20px;
  width: 50%;
  margin: 0 auto; /*esto lo centra*/
  margin-top: 15px;
  box-shadow: 2px 2px 0px #C58940;
}

nav ul {
  list-style: none; /* quita viñetas */
  margin: 0;
  padding: 0;
  display:flex; /* coloca los items en fila */
  justify-content: center; /* centra los enlaces */
}

nav ul li {
  margin: 0 9%; /* espacio entre enlaces */
}

nav ul li a {
  text-decoration: none; /* quita subrayado */
  color: #724917; /* color del texto */
  font-family:monospace;
  font-weight: 900;
  padding: 8px 25px;
  border-radius: 20px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #C58940;
  color: #FAF8F1;
}

